<div class="col firstcol">
  <div class="cont global">
    <h3>Global</h3>
  <div class="image"><img src="img/bank.jpg" />
    
  </div>
  <div class="blurb_articles">
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"> </div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
    </div>
  </div>
</div>
<div class="col secondcol">
    <div class="cont region">
    <h3>Region</h3>
  <div class="image"><img src="img/bank.jpg" /></div>
   <div class="blurb_articles">
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
    </div>
  </div>
  <div class="cont country">
    <h3>Country</h3>
  <div class="image"><img src="img/bank.jpg" /></div>
   <div class="blurb_articles">
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"> </div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text">     </div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
    </div>
  </div>
</div>
<div class="col thirdcol">
    <div class="cont secondparentorg">
    <h3></h3>
  <div class="image"><img src="img/bank.jpg" /></div>
   <div class="blurb_articles">
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"> </div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text">  </div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"> </a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
    </div>
  </div>
    <div class="cont firstparentorg">
    <h3></h3>
  <div class="image"><img src="img/bank.jpg" /></div>
   <div class="blurb_articles">
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
    </div>
  </div>
      <div class="cont org">
    <h3></h3>
  <div class="image"><img src="img/bank.jpg" /></div>
   <div class="blurb_articles">
      <div class="blurb">
        <div class="headline"><a href="#">  </a></div>
        <div class="date"></div>
        <div class="text">   </div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#">  </a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text">  </div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
    </div>
  </div>
</div>