  <div class="img_articles">
    <div class="img_blurbs">
      <div class="img_blurb">
        <div class="image"><img src="img/200px-Citi.svg.png" /></div>
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="img_blurb">
        <div class="image"><img src="img/200px-Citi.svg.png" /></div>
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="img_blurb">
        <div class="image"><img src="img/200px-Citi.svg.png" /></div>
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
    </div>
    <div class="blurb_articles">
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
      <div class="blurb">
        <div class="headline"><a href="#"></a></div>
        <div class="date"></div>
        <div class="text"></div>
        <div class="more"><a href="#">Read more »</a></div>
      </div>
    </div>
  </div>
  <div class="right_bar">
    <div class="side_banners">
      <div class="side_banner"><img src="img/200px-Citi.svg.png" /></div>
      <div class="side_banner"><img src="img/200px-Citi.svg.png" /></div>
      <div class="side_banner"><img src="img/200px-Citi.svg.png" /></div>
    </div>
    <div class="headlines">
      <div class="headline"><a href="#"></a><div class="date"></div></div>
      <div class="headline"><a href="#"></a><div class="date"></div></div>
      <div class="headline"><a href="#"></a><div class="date"></div></div>
      <div class="headline"><a href="#"></a><div class="date"></div></div>
      <div class="headline"><a href="#"></a><div class="date"></div></div>
      <div class="headline"><a href="#"></a><div class="date"></div></div>
      <div class="headline"><a href="#"></a><div class="date"></div></div>
    </div>
  </div>
